@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}


@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-outline-success" asp-controller="Note" asp-action="Add">Add note</a>
            <a class="btn btn-outline-info" asp-controller="Note" asp-action="ShowNotes">Show notes</a>

            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-outline-danger" asp-controller="Note" asp-action="ShowAllNotes">Show all notes</a>
            }
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <h2 class="">Log in to proceed!</h2>
    </div>
}

